:root {

    --black: #000000;
    --white: #ffffff;
    --main-color: #381b07;
    --tomato: #8f3900;
    --second-color: #7c3c10;
    --red-color: #ff0000;
    --recommand-color: #744938;
}

.recommand-image {
    width: 268px;
    height: 180px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
}

.avatar-image {
    width: 268px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    border-radius: 12px;
}

.avatar-image img {
    width: 100%;
}

.title-image {
    display: flex;
    width: 268px;
    background-color: var(--recommand-color);
    height: 36px;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 12px 12px;
    color: var(--white);
    font-weight: 600;
}

.recommand-image:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}