body {
    overflow: auto;
}

.top-nav {
    padding-top: 12px;
}

.background-home {
    margin-top: 64px;
}

.background-home img {
    width: 100%;
}

.intro-home {
    padding: 0 32px;
    margin-top: 64px;
}

.recommand-sect {
    margin-top: 64px;
    height: 648px;
    padding: 32px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.quiz-home {
    position: relative;
    width: 50%;
    flex: 1;
    margin-right: 40px;
    height: 584px;
}

.recommand-home {
    flex: 1;
    position: relative;
}

.news-home {
    margin: 64px 0;
    padding: 0 8px;
    position: relative;
}

.homePg-title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.book-cf-home {
    margin-top: 40px;
    position: relative;
    padding: 0 8px;
}