.book-cf-scroll {
    display: flex;
    height: 260px;
    width: 100%;
    overflow-x: scroll;
    margin: 0 30px;
}

.scrl {
    margin: 0 22px;
    position: relative;
}

.book-cf-scroll::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

.book-cf-item {
    display: flex;
}

.bookCD-body {
    width: 344px;
    height: 216px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    margin-right: 32px;
}

.bookCD-body:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.bookCF-image {
    width: 344px;
    height: 216px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    border-radius: 12px;
    background-size: cover;
}

.bookCF-name {
    display: flex;
    width: 100%;
    background-color: var(--white);
    height: 52px;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 12px 12px;
    font-weight: 600;
    font-size: 24px;
}