.resigter-account {
    text-decoration:underline;
    font-weight: 600;
    cursor: pointer;
    color: var(--main-color);
    font-size: 14px;
    margin-top: 12px;
}

.resigter-account:hover {
    color: red;
}
