:root {
    --black: #000000;
    --white: #ffffff;
    --main-color: #381b07;
    --tomato: #fd6500;
    --second-color: #7c3c10;
    --red-color: #ff0000;
    --blue-color: #00a2ff;
}

.aboutus-main {
    padding: 0 64px;
    margin: 64px 0;
    width: 100%;
}

.aboutus-title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: -20px;
}

.about-item {
    display: flex;
    margin-bottom: 12px;
}

.about-img {
    display: flex;
    justify-content: center;
    margin-right: 64px;
}

.about-img img {
    height: 500px;
}

.about-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-contact {
    display: flex;
}

.link:hover {
    text-decoration: underline;
    color: var(--blue-color);
    cursor: pointer;
}